<!DOCTYPE html>
<html>
<head>
  <title>All Batches</title>
</head>
<body>
  <h2>All Batches</h2>
  <ul>
    <% batches.forEach(function(batch) { %>
      <li>
        <strong>Batch:</strong> <%= batch.batchName %> <br>
        <strong>Teacher:</strong> <%= batch.teacherName %> <br>
        <strong>Subject:</strong> <%= batch.subject %> <br>
        <strong>Time:</strong> <%= batch.classTime %> <br>
      </li>
      <hr>
    <% }) %>
  </ul>
</body>
</html>
