<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form action="/add" method="post">
    <input type="text" name="fullname" placeholder="Enter Name">
    <input type="email" name="email" placeholder="Enter email">
    <input type="text" name="roll" placeholder="Enter roll number">
    <input type="text" name="classs" placeholder="Enter class">
    <button type="submit">Add</button>
   </form>
  </body>
</html>
